$primary-color: blue;
$secondary-color: gray;
$terciary-color: yellow;

$primary-bg-color: red;
$secondary-bg-color: orange;

$header-bg-color: #e5e6e7;

$nav-color: #4b5a81;
$nav-color-hover: #4b5a81;

$text-color: #333;
$light-text-color: white;
$dark-text-color: red;